.hero_section {@apply min-h-screen flex items-center;}
.hero_section .inner {@apply max-w-5xl w-full;}
.hero_content {@apply flex items-center gap-16;}
.hero_left {@apply flex-1 pr-10;}
.hello_bubble {@apply font-medium inline-block bg-white rounded-2xl px-4 py-2 mb-5 text-xl  text-gray-700;}
.hero_title {@apply xl:w-[750px] w-[500px]  xl:text-5xl text-4xl font-bold text-black mb-5 leading-tight;}
.hero_description {@apply text-lg text-gray-600 leading-relaxed mb-7;}
.hero_buttons {@apply flex gap-5 mb-10;}

.bt_book_call {@apply bg-blue-600 text-white px-6 py-3 rounded-lg no-underline flex items-center gap-2 font-medium hover:bg-purple-700;}
.bt_view_portfolio {@apply text-blue-600 no-underline font-medium flex items-center gap-2 hover:text-purple-700;}
.hero_stats {@apply flex gap-8 bg-white rounded-xl py-6 px-4 }
.hero_stats .stat_number{@apply bg-white text-3xl text-gray-800;}
.hero_stats .stat_number span{@apply text-blue-800}

.stat_item {@apply py-6 px-4;}
.stat_number {@apply text-2xl font-bold text-black mb-1;}
.stat_label {@apply text-sm text-gray-600;}

.hero_right {@apply flex-1 absolute right-0 top-[62px] rounded-lg overflow-hidden;}
.hero_image_wrapper {@apply relative lg:w-[815px] md:w-[600px] sm:w-[600px]  h-[calc(100vh-62px)] rounded-[24px] rounded-tr-none overflow-hidden;}
.hero_image {@apply w-full h-full object-cover relative z-10 ;}
.hero_image_wrapper img{@apply rounded-[24px] rounded-tr-none;}

.hero_description{ @apply w-[580px] text-lg md:text-sm text-gray-600 leading-relaxed mb-7;}

@media (max-width: 768px) {
.hero_content {@apply flex-col gap-10;}
.hero_left {@apply pr-0;}
.hero_title {@apply text-5xl;}
.hero_buttons {@apply flex-col;}
.hero_stats {@apply justify-between;}
}

@keyframes scrollUp {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-10px) scale(1.1); }
  100% { transform: translateY(0) scale(1); }
}

.scroll-up-animation {
  animation: scrollUp 0.6s ease-in-out;
}