@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#EEEBE5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Manrope',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Manrope', sans-serif;

}
